<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Weather Reporting Service Error</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
	<body>
	<pre>
  _    _           _       _       
 | |  | |         | |     | |      
 | |  | |_ __   __| | __ _| |_ ___ 
 | |  | | '_ \ / _` |/ _` | __/ _ \
 | |__| | |_) | (_| | (_| | ||  __/
  \____/| .__/ \__,_|\__,_|\__\___|
        | |                        
        |_|                        
	</pre>
		<form action="/changepassword">
			<p>New Password:</p>
			<input type="text" name="newpassword" value="" />
			<br></br>
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>