<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Weather Reporting Service Error</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
	<body>
	<pre>
   _____ _                         
  / ____(_)                        
 | (___  _  __ _ _ __  _   _ _ __  
  \___ \| |/ _` | '_ \| | | | '_ \ 
  ____) | | (_| | | | | |_| | |_) |
 |_____/|_|\__, |_| |_|\__,_| .__/ 
            __/ |           | |    
           |___/            |_|    
	</pre>
		<form action="/signup">
			<p>Username:</p>
			<input type="text" name="username" value="" />
			<p>Password:</p>
			<input type="password" name="password" value="" />
			<br/>
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>