<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Weather Report</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
	<body>
		<pre>
		I__
   .-'"  .  "'-.
 .'  / . ' . \  '.
/_.-..-..-..-..-._\ .---------------------------------.
         #  _,,_   ( I hear it might rain people today )
         #/`    `\ /'---------------------------------'
         / / 6 6\ \
         \/\  Y /\/       /\-/\
         #/ `'U` \       /a a  \               _
       , (  \   | \     =\ Y  =/-~~~~~~-,_____/ )
       |\|\_/#  \_/       '^--'          ______/
       \/'.  \  /'\         \           /
        \    /=\  /         ||  |---'\  \
   jgs  /____)/____)       (_(__|   ((__|
		</pre>
		<p th:text="'Description of the weather in ' + ${location} + ' is ' + ${desc} + '.'" />
		<p th:text="'Temperature: ' + ${temp} + ' Degrees Celcius.'"  />
		<p th:text="'Humidity: ' + ${humid} + '%'" />
		<form action="/weather">
			<input type="text" name="search" value=""></input>
			<input type="submit" value="Search"></input>
		</form>
		<a href="/logout">logout</a>
		<a href="/account">Change your password</a>
	</body>
</html>